* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto;

  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1100px;

  margin: 0 auto;
}

.main-header {
  background-color: #fff;

  min-height: 80px;

  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 20px 0;
}

.shop__list {
  list-style: none;

  display: flex;
  gap: 40px;
}

.login__list {
  list-style: none;

  display: flex;
  gap: 40px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0b3b3c;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.health {
  background-image: url(../images/health-section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  min-height: 765px;

  display: flex;

  margin-bottom: 40px;
}

.wrapper {
  padding: 0 25%;
}

.health__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 170px;
}

.health__intro {
  font-weight: 700;
  font-size: 54px;
  text-align: center;
  color: #0b3b3c;
}

.health__slogan {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #0b3b3c;

  margin-bottom: 40px;
}

.health__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.health__get-started {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  background-color: #7e0707;

  border: 2px solid #7e0707;

  padding: 15px 100px;
}

.health__view {
  font-weight: 400;
  font-size: 14px;
  color: #7e0707;
  text-transform: uppercase;
  text-align: center;

  background-color: inherit;

  border: 2px solid #7e0707;

  padding: 15px 77px;
}

.edge {
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-bottom: 2px solid #b3b3b3;
}

.edge__list {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}

.edge__item {
  display: flex;
  align-items: center;
  gap: 10px;
}


.healthcare__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

.healthcare__slogans {
  display: flex;
  gap: 5px;
}

.healthcare__intro {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #0b3b3c;
}

.healthcare__rated {
  font-size: 18px;
  font-weight: 700;
  color: #00867a;
  text-align: center;
}

.healthcare__trust {
  font-size: 18px;
  color: #0b3b3c;
  font-weight: 400;
  text-align: center;
}

.about-us {
  padding-bottom: 10px;
  border-bottom: 2px solid #b3b3b3;

  margin-bottom: 60px;
}

.about-us--wrapper {
  padding: 0 2%;
  margin: 0 auto;
}

.about-us__list {
  display: flex;

  list-style: none;

  z-index: 0;
}

.about-us__image {
  height: 300px;
  width: auto;
}

.about-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-us-item__intro {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #0b3b3c;
}

.about-us-item__slogan {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #0b3b3c;

  width: 85%;
}

.first__image::after {
  content: url(../images/first-arrow.svg);

  width: 90px;
  height: 20px;

  position: absolute;

  margin-left: -30px;
}

.second__image::after {
  content: url(../images/second-arrow.svg);

  width: 90px;
  height: 20px;

  position: absolute;

  margin-left: -30px;
  margin-top: 230px;
}

.about-us::after {
  content: url(../images/third-arrow.svg);

  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.science {
  display: flex;

  margin-bottom: 50px;
}

.science__intro {
  display: flex;
  justify-content: center;

  font-weight: 400;
  font-size: 35px;
  color: #0b3b3c;

  margin-bottom: 40px;
}

.science__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
}

.science-wrapper {
  margin: 0 2%;
}

.science__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #e8efe9;

  width: 49%;
  height: 630px;

  gap: 10px;
}

.science__image {
  height: 440px;
}

.science-item__intro {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #0b3b3c;
}

.science-item__slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #0b3b3c;

  width: 85%;
}

.science__button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #0b3b3c;

  margin-top: 10px;

  padding: 0 10px;
  border: inherit;
  padding-bottom: 10px;
  border-bottom: 2px solid #0b3b3c;
}

.wellbeing {
  display: flex;

  background-color: #e8efe9;

  margin-bottom: 40px;
}

.wellbeing-wrapper {
  padding: 48px 40px;
  display: flex;
  justify-content: space-between;
}

.wellbeing-first__list {
  list-style: none;

  display: flex;
  flex-direction: column;

  margin-top: 110px;

  width: 55%;
  gap: 30px;
}

.wellbeing__button--new {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  color: #0b3b3c;

  padding: 10px 20px;

  background-color: #bdcdc5;
  border: #bdcdc5;
}

.wellbeing__intro {
  font-weight: 700;
  font-size: 36px;
  color: #0b3b3c;
}

.wellbeing__slogan {
  font-weight: 400;
  font-size: 16px;
  color: #0b3b3c;
}

.wellbeing__button {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #fff;

  background-color: #7e0707;
  border: #7e0707;
  padding: 15px 110px;
}

.pin__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.pin__item {
  display: flex;
  gap: 10px;
}

.pin__slogan {
  font-weight: 400;
  font-size: 14px;
  color: #0b3b3c;
}

.wellbeing-second__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 16px;

  list-style: none;

  width: 53%;
}

.wellbeing-second__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f2f2f2;

  width: 150px;
  height: 150px;

  gap: 10px;
}

.item__slogan {
  font-weight: 400;
  font-size: 17px;
  color: #0b3b3c;
}

.comment {
  display: flex;
}

.comment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.comment__slogan {
  font-weight: 400;
  font-size: 18px;
  color: #0b3b3c;
  text-align: center;
}

.comment__intro {
  font-weight: 700;
  font-size: 18px;
  color: #0b3b3c;
  text-align: center;
  margin-bottom: 20px;
}

.comment-user__image {
  margin-bottom: 70px;
}

.comment__list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin-bottom: 20px;
}

.comment-reviews__slogan {
  text-align: center;
  color: #0b3b3c;
  font-size: 12px;

  margin-bottom: 60px;
}

.rated {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-bottom: 120px;
}
.rated__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 0 auto;

  list-style: none;

  overflow: hidden;
}

.rated__item {
  background-color: #e8efe9;
  width: 710px;
  height: 600px;
}

.star__list {
  list-style: none;
  display: flex;
  justify-content: center;

  margin-top: 132px;
  margin-bottom: 50px;
}

.rated__slogan {
  font-weight: 400;
  color: #0b3b3c;
  font-size: 28px;
  text-align: center;
  margin-bottom: 130px;

  padding: 0 92px;
}

.rated__name {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #0b3b3c;

  text-align: center;

  margin-bottom: 140px;
}

.first-rated {
  margin-left: -19%;
}

.third-rated {
  margin-right: -19%;
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin-bottom: 50px;
}

.staff__intro {
  font-weight: 400;
  font-size: 35px;
  color: #0b3b3c;
  text-align: center;
}

.staff__slogan {
  font-weight: 400;
  font-size: 24px;
  color: #0b3b3c;
  text-align: center;

  padding: 0 15%;
}

.staff-slogan--link {
  font-weight: 400;
  font-size: 24px;
  color: #7e0707;

  text-decoration: none;
}

.staff__list {
  list-style: none;

  display: flex;
  gap: 40px;
}

.staff__item {
  display: flex;
  flex-direction: column;
}

.staff__image {
  margin-bottom: 40px;
}

.staff__name {
  font-weight: 400;
  font-size: 18px;
  color: #0b3b3c;
  text-align: left;

  margin-bottom: 5px;
}

.staff__position {
  font-weight: 400;
  font-size: 16px;
  color: #91ab9f;
}

.consultation {
    padding-top: 45px;
    border-top: 2px solid #bdcdc5;
    margin-top: 50px;
    margin-bottom: 160px;

    display: flex;
    align-items: center;
}

.consultation__image {
    margin-right: 10px;
}

.consultation__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    margin-right: 20px;
}

.consultation__intro {
    font-size: 20px;
    font-weight: 400;
    color: #0b3b3c;
}

.consultation__slogan {
    font-weight: 400;
    font-size: 15px;
    color: #91ab9f;
}

.consultation__button {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #fff;

    background-color: #7e0707;
    border: #7e0707;

    padding: 15px 70px;
}

.smile {
    display: flex;
    align-items: center;


    background-image: url(../images/smile-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    min-height: 820px;
}

.smile__text {
    display: flex;
    flex-direction: column;

    width: 30%;
}

.smile__slogan {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #fff;


    margin-bottom: 15px;
}

.smile__name {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 400;

}

.treat {
    background-color: #f3f7f4;

    min-height: 130px;

    display: flex;
    align-items: center;

    margin-bottom: 100px;
}

.treat__button {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.treat-button--first {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background-color: #7e0707;
    border: #7e0707;
    text-align: center;

    padding: 15px 70px;
}

.treat-button--second {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background-color: #7e0707;
    border: #7e0707;
    text-align: center;

    padding: 15px 40px;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.guide__intro {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #0b3b3c;
}

.guide__slogan {
    font-weight: 400;
    font-size: 23px;
    line-height: 43px;
    color: #0b3b3c;
    text-align: center;
    width: 50%;
}

.guide__list {
    list-style: none;

    display: flex;
    gap: 10px;

    margin-bottom: 100px;
}

.guide__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 555px;
}

.guide__image {
    margin-bottom: 25px;
}

.guide-item__slogan {
    font-weight: 700;
    font-size: 24px;
    color: #0b3b3c;

    margin-top: -100px;
}

.guide__button {
    justify-content: flex-end;
    text-transform: uppercase;

    font-weight: 700;
    color: #0b3b3c;
    border: inherit;

    border-bottom: 2px solid #0b3b3c;
}

.main-footer {
    display: flex;

    background-color: #0b3b3c;
    min-height: 260px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #e8efe9;
}

.link__list {
    list-style: none;

    display: flex;
    gap: 10px;
    
}

.privacy__list {
    list-style: none;

    display: flex;
    gap: 20px;

    margin-bottom: 30px;
}

.privacy__item--link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

.privacy__text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-bottom: 40px;

    font-weight: 400;
    font-size: 12px;
    color: #6d8a83;
}

