* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: Roboto;

  background-color: #fff;
}

h1,
a,
p {
  margin: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;

  padding: 0 5%;
  margin: 0 auto;
}

.main-header {
  display: flex;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);


  .container {
    display: flex;
    flex-direction: column;
  }

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-nav--desktop {
    display: none;
  }

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    &__list {
      list-style: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      &__item {
        &--link {
          text-decoration: none;
          color: #000;
          font-size: 16px;
          text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }

    &--closed {
      display: none;
    }

    &--opened {
      display: flex;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding-top: 50px;

  animation-duration: 1s;
  animation-name: main;

  &--wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 100px;
  }

  &__intro {
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    color: #000;
    text-align: center;

    margin-bottom: 50px;
  }

  .about {
    display: flex;

    margin: 0 auto;

    margin-bottom: 100px;

    &--wrapper {
      max-width: 450px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      padding: 20px 30px 30px;

      box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
      border-radius: 9px;

      margin: 0 auto;

      &__intro {
        font-family: Rasa;
        font-weight: 700;
        font-size: 32px;
        color: #121;
      }

      &__slogan {
        font-weight: 300;
        font-size: 22px;
        font-family: Roboto;
      }

      &__button {
        text-decoration: none;

        color: #fff;
        background-color: #000;

        border-radius: 9px;
        padding: 10px 20px;

        align-self: flex-end;

        box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
      }

      &__image {
        max-width: 250px;
        img {
          border-radius: 50%;
          width: 100%;
        }
      }
    }
  }

  .experience {
    display: flex;

    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 400px;

      gap: 20px;

      padding: 30px 30px 30px;

      box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
      border-radius: 9px;

      margin: 0 auto;

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--image {
          max-width: 75px;
          max-height: 75px;

          img {
            width: 100%;
          }
        }

        &--intro {
          text-align: center;
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        &--slogan {
          text-align: center;
          font-size: 12px;
          line-height: 16px;
          color: #8f8e8e;
          font-weight: 100;

          margin-bottom: 20px;
        }

        &--story {
          font-size: 18px;
          line-height: 27px;
          color: #000;
          font-weight: 300;

          margin-bottom: 40px;
        }

        &--download {
          align-self: flex-end;

          text-decoration: none;
          background-color: #000;
          color: #fff;
          padding: 10px 20px;
          border-radius: 9px;

          box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .projects {
    display: flex;

    margin-bottom: 100px;

    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 10px;

      box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
      border-radius: 9px;

      padding: 40px 5px;

      width: 100%;

      max-width: 500px;
      max-height: 500px;

      margin: 0 auto;

      &__intro {
        margin-bottom: 20px;
      }

      &__slider {
        display: flex;
        align-items: center;
        gap: 20px;

        position: relative;

        margin: 0;

        &--previos {
          cursor: pointer;
          img {
            width: 25px;
            height: 25px;
          }
        }
        &--next {
          transform: rotate(180deg);
          cursor: pointer;
          img {
            width: 25px;
            height: 25px;
          }
        }

        &--item {
          max-width: 500px;
          animation-name: fade;
          animation-duration: 1s;
          a {
            img {
              border-radius: 9px;
              box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
              width: 100%;
              max-height: 150px;
            }
          }
        }
      }
    }
  }

  @keyframes fade {

    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .know {
    display: flex;

    margin-bottom: 100px;

    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      padding: 20px 20px 40px;

      max-width: 400px;

      margin: 0 auto;

      box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
      border-radius: 9px;

      &__list {
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 20px;
        &__item {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);

          padding: 5px 10px;

          display: flex;
          align-items: center;
          gap: 45px;

          &--prof {
            img {
              width: 30px;
              height: 30px;
            }
          }

          &--rate__list {
            list-style: none;
            display: flex;
          }
        }
      }
    }
  }
}

.main-footer {
  display: flex;

  padding: 40px 0;

  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__list {
    list-style: none;

    display: flex;
    &__item {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-header {
    &-nav {
      display: none;
    }

    &--wrapper {
      display: none;
    }

    &-nav--desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__list {
        list-style: none;

        display: flex;
        gap: 40px;

        &__item {
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  .main-footer {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      gap: 40px;

      &__item {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@keyframes main {
  from {
    margin-left: 50%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



@media (min-width: 1024px) {



  .main {
    animation-duration: 1s;
    animation-name: main;

    &--wrapper {
      flex-direction: row;
      margin: 0 auto;
    }
  }
}
